.FooterComponent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
}

.FooterComponent__Links {
    height: 20vh;
    background: #F5F5F5;
}

.FooterComponent__Foot {
    margin-top: 10px;
    margin-bottom: 10px;
}